body{
    background: linear-gradient(to bottom,#0E3B5A 30%, #5EE4F4);
    font-family: 'Poppins', sans-serif;
   
}


#correo, #wpp {

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  
}

.contact-form, #whatsappForm {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact-form h2 {
  margin-bottom: 15px;
  color: #333;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.contact-form button {
  background: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.contact-form button:hover {
  background: #0056b3;
}

#responseMessage {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}


.bg-body-tertiary {
    background-color: #09273b  !important; 
} 

.navbar-toggler, .navbar-toggler-icon{
    background-color: #E0E7EF;
}

#carousel {
    width: 50%;
    margin: 0 auto;
    display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;
  }

  #carousel img {
    height: 300px;
    width: 100%; 
    object-fit: cover; 
    object-position: center; 
}

#carousel img:hover {
  opacity: 0.5;
}

#carousel .texto-oculto{
opacity: 0;
color: #ccc;
background-color: #333;
position: absolute;
text-align: center;
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%); 
z-index: 1;
}

#carousel img:hover + .texto-oculto{
opacity: 1;
}

#carrousel-container{
    text-align: center;
}

#contacto{
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns:  1fr 1fr;
}

#reparaciones{
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns:  1fr 1fr;
}

#container-mapa {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px; 
}


#mapaChico{
    display: none;
}

.item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subtitulo {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0 5% 2% 12%;
  width: 75%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
   
 .reparacion{
  margin: 2%;
 }
  
.consultar {
  margin-bottom: 2%;
}

#logo {
    width: 25%;
    height: 255px;
}

#title {
    text-align: center;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

  .card-img-top {
    width: 100%;        
    height: 200px;      
    object-fit: cover; 
}

  @media (max-width: 768px) {

    body {
        font-size: 14px; 
        margin: 5% 0;
    }

    #logo {
        width: 100%;
       
    }

    #encontrar{
      text-align: center;
      font-size: 1.25rem;
      padding-top: 15px;
      margin-bottom: 20px;
    }

    #mapaGrande{
        display: none;
    }

    #mapaChico{
        display: block;
    }


    h3 {
        font-size: 1.25rem;
    }
  
  
    #contacto {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
        grid-template-columns:  1fr;
     }
  
  .item {
    width: 100%; 
    max-width: 600px; 
    margin: 0 5px 20px; 
      padding: 0; 
  }

  #carousel {
    width: 100%;
    margin: 0 auto;
  }
    .navbar {
        justify-content: space-between;
    }
}
